*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    color: black;
}
.container{
    width: 100%;
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all .9s ease-in-out;
}
.container aside{
    width: 20%;
    height: 100% ;
    background-color: rgb(80, 137, 188);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    transition: all .5s ease-in-out;
}
.container aside hr{
    width: 90%;
    margin: 30px auto  0;
    
}
.container aside .logo-container{
    width: auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    column-gap: 20px;
    /* background-color: #e07f7f; */
}
.container aside .logo-container img{
    width: 30px;
    height: 100%;
    border-radius: 50%;
}
.sidebar-navlist{
    width: 100%;
    height: 100vh;
    /* padding: 10px 20px; */
    background-color: #32d82aa6;
}
.sidebar-navlist .nav-li{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    /* background-color: bisque; */
    width: 270px;
    padding: 20px 0;
    /* border-left: 6px solid orange; */
}












main{
    width: 60%;
    min-height: 100vh;
    height: 100%;
    background-color: antiquewhite ;
}
.main-container{
    width: 100%;
    height: auto;
    background-color: aliceblue;
    padding: 20px 20px;
    border: 1px solid black;
    border-bottom: 0;
    border-top: 0;
    transition: all .5s ease-in-out;
}
.main-container .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: all .5s ease-in-out;
}
.main-container:hover{
    padding: 10px 0;
    background-color: rgb(127, 25, 25);
    transition: all .5s ease-in-out;
    color: white;
}
.main-container .logo-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
span{
    color: red
}
.cards-container{
    width: 100%;
    height: 300px;
    padding: 20px 40px;
    background-color: rgb(152, 142, 210);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cards-container .card{
    width: 30%;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: aliceblue;
    transition: all .5s ease-in-out;
}

.cards-container .card:hover {
    color: coral;
    background-color: rgb(255, 252, 252);
}
.cards-container .card img{
    width: 100%;
}
.second-card{
    background-color: rgb(109, 117, 109);
    padding: 20px 40px;
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
}
th,td{
    padding: 10px 20px;
}

tr:nth-child(odd) {
    background-color: #e07f7f;
}

.right-panel {
    width:20%;
    height: 100vh;
    padding: 10px;
    background-color: aliceblue;
}
.right-panel h3{
    margin: 20px 0;
    transition: all .5s ease-in-out;
}
.right-panel h3:hover{
    color: aliceblue;
    background-color: black;
    margin: 0;
    padding: 20px;
}
.right-panel hr{
    margin: 35px 0 10px;
}
.right-panel .right-panel-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.right-panel .right-panel-container .post img{
    border-radius: 50%;
    width: 60px;
}
.right-panel .right-panel-container hr{
    width: 100%;
    margin-bottom: -10px;
}
.right-panel .right-panel-container .button .btn{
    position: relative;
    left: -70px;
    margin-top: 10px;
    background-color: black;
    padding: 10px 30px;
    border: 0;
    color: white;
    font: bold;
    font-size: 18px;
}

/* POPUP */
.popup{
    width: 300px;
    height: auto;
    background-color: aquamarine;
    padding: 20px 40px;
    position: absolute;
    right: 0;
    top: 50px;
    margin-right: -200%;
    
    animation: popup 3s ease-in-out;
    /* animation-delay: 2s; */
}
button{
    margin-top: 20px;
    padding: 10px 20px;
    border: 0;
    background-color: cadetblue;
    color: white;
}
@keyframes popup{
 
    5%{
        margin-right: 0;
        }
    20%{
        margin-right: 0;
    }
    35%{
        margin-right: 0;
        }
    50%{
        margin-right: 0;
    }
    65%{
        margin-right: 0;
        }
    80%{
        margin-right: 0;
    }
    85%{
        margin-right: 0;
        }
    95%{
        margin-right: 0;
    }
   100%{
    margin-right: -200%;
   }
}
/* POPUP */